@tailwind base;
@tailwind components;
@tailwind utilities;

.x-pad {
    padding-left: 28px;
    padding-right: 28px;
}
.xy-pad {
    padding: 75px 28px;
}
.max-width {
    max-width: 1320px;
    width: 100%;
}

a:hover {
    color: #e3ad65;
}