@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*    font-family: "Audiowide";*/
/*    src: url("/fonts/Audiowide.ttf") format("ttf")*/
/*}*/
/*@layer base {*/
/*    @font-face {*/
/*        font-family: 'Audiowide';*/
/*        font-style: normal;*/
/*        font-weight: 400;*/
/*        font-display: swap;*/
/*        src: url(/fonts/Audiowide.ttf) format('ttf');*/
/*    }*/
/*}*/
.x-pad {
    padding-left: 28px;
    padding-right: 28px;
}

.y-pad {
    padding-top: 75px;
    padding-bottom: 75px;
}

.xy-pad {
    padding: 75px 28px;
}

.xy-pad--2 {
    padding: 75px 28px;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title;
}

.footer-icons {
    @apply text-4xl hover:text-primary cursor-pointer bg-gray-700 p-2;
}

.event-share-icons {
    @apply text-2xl text-gray-700 hover:text-white/85 rounded-md hover:bg-primary cursor-pointer bg-gray-700/20 p-2;
}


.sidebar-icon-cont a {
    @apply text-sm hover:text-primary cursor-pointer bg-gray-400 p-2 text-white;
}

@media (max-width: 648px) {
    .xy-pad--2 {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .x-pad {
        padding-left: 75px;
        padding-right: 75px;
    }

    .y-pad {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .xy-pad {
        padding: 100px 75px;
    }

    .xy-pad--2 {
        padding: 100px 75px;
    }
}

.max-width {
    max-width: 1320px;
    width: 100%;
}

.image_positioning {
    background-size: cover;
    background-position: center;
}

a:hover {
    color: #e3ad65;
}

/*#367E18 Green*/
/*#F57328 Orange*/
/*#FFE9A0 Yellow*/
/*#CC3636 Red*/

.custom-btn {
    /*background-color: #FFE9A0;*/
    background-color: #ff0000;
    /*box-shadow: 0 0 10px #fb9c07;*/
    border-radius: 0;
    color: white;
    @apply font-medium text-lg cursor-pointer;
}

.custom-btn--2 {
    border-radius: 0;
    cursor: pointer !important;
    color: white;

}

.event--sign {
    font-size: 18px;
}

div p {
    .event--text-sz {
        font-size: 15px;
    }
}

@media (min-width: 450px) {
    .event--sign {
        font-size: 14px;
    }
}

* {
    scroll-behavior: smooth;
}